<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Produk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/1.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Toxic</ion-card-subtitle>
      <ion-card-title>Welcome to Toxic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Program terbaik.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
